._16-bottom-margin {
    margin-bottom: 16px;


    @media (max-width: 320px) {
        margin-bottom: 1rem;
    }
}

._14-top-margin {
    margin-top: 14px;
}


._60-bottom-margin{
    margin-bottom: 6rem;
}

